@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

.container {
  width: 85%;
  margin: auto;
  background: white;
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 30px 0px;
}

.container hr {
  height: 2px;
  border: none;
  background: #707070;
}

.container h5 {
  font-size: 10px;
  font-weight: 100;
  white-space: pre-line;
}

.container ul li {
  display: flex;
  align-items: center;
  height: 20%;
  padding-left: 15px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Oswald";
  padding: 5px 5px 5px 5px;
}

.container .points {
  margin: auto;
  font-size: 18px;
}

.container .correct {
  background: #dffff2;
  border-color: #00d397;
}
.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}

.container .buttonDiv {
  margin: auto;
}

@media screen and (max-width: 763px) {
  .container {
    width: auto;
    height: auto;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 0px;
    border-radius: 10px;
    padding: 10px 5px 5px 10px;
  }

  .container hr {
    height: 1px;
    border: none;
    background: #707070;
  }

  .container h5 {
    font-size: 8px;
    font-weight: 100;
    white-space: pre-line;
  }
  .container h1 {
    font-size: 15px;
    text-align: center;
    font-weight: 100;
  }

  .container ul li {
    display: flex;
    align-items: start;
    height: 20%;
    padding-left: 15px;
    border: 1px solid #686868;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
    font-family: "Oswald";
    padding: 5px 5px 5px 5px;
  }

  .container .points {
    margin: auto;
    font-size: 18px;
  }

  .container .correct {
    background: #dffff2;
    border-color: #00d397;
  }
  .container .wrong {
    background: #ffebeb;
    border-color: #ff4a4a;
  }

  .container .buttonDiv {
    margin: auto;
  }
}
